
.heart {
    position: absolute;
    margin: auto;
    top: 500px;
    right: 0;
    left: 0;
    bottom: 0px;
    background-color: #fff5bd;
    height: 175px;
    width: 175px;
    transform: rotate(-45deg);
    z-index: 0
}
.heart::after {
    background-color: #fff5bd;
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 175px;
    width: 175px;
    top: 0px;
    left: 87.5px;
}
.heart::before {
    background-color: #fff5bd;
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 175px;
    width: 175px;
    top: -87.5px;
    left: 0px;
}
h1{
    color: #fff5bd;
    font-size: 50px;
    font: Snel
}
nav {
    background-color: #fff5bd;
}
ul {
    list-style: none;
    text-align: center
}
li {
    display: inline-block;
    margin: 0 5px;
}

body {
    background-color: #9B111E;
    color: #fff5bd;
    max-width: 800px;
    margin: auto;
    width: 100%;
}
img {
    width: 200%;
    max-width: 200px;
    position: relative;
    z-index: 3
}
.center-text {
    text-align: center;
}
#faq {
    position: relative;
    z-index: 2;
}
#main {
    border-style: solid;
    border-color: #fff5bd;
    border-width: 2px;
    border-radius: 10px
}
.pink {
    color: #fff5bd;
    text-align: center;
}

@media (min-width: 2000px) {
    #container {
        display: flex;
    }
    #main {
        width: 70%;
    }
    #sidebar {
        width: 30%;
    }
    #footer {
        width: 100%;
    }
}

footer{
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #fff5bd;
    color: #9B111E
}