.topnav {
    background-color: #fff5bd;
    overflow: hidden
}

.topnav a{
    float: left;
    color: #9B111E;
    text-align: center;
    padding: 2px 4px;
    font-size: 15px
}

h1{
    width: 200px;
    color: #fff5bd;
    font-size: 50px
}

body {
    background-color: #9B111E;
    color: #fff5bd;
    max-width: 800px;
    margin: auto;
    width: 100%
}
img {
    width: 200%;
    max-width: 200px;
    position: relative;
    z-index: 3
}
.heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff5bd;
    height: 175px;
    width: 175px;
    transform: rotate(-45deg);
    z-index: 2
}

.heart::after {
    background-color: #fff5bd;
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 175px;
    width: 175px;
    top: 0px;
    left: 87.5px;
}
.heart::before {
    background-color: #fff5bd;
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 175px;
    width: 175px;
    top: -87.5px;
    left: 0px;
}
footer{
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #fff5bd;
    color: #9B111E
}